@import url('./PlaceholderCababas.css');
@import url('./PlaceholderError.css');

:root {
    overflow-x: hidden;
    overflow-y: hidden;
    color-scheme: light dark;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: var(--back-beige);
}