@font-face {
    font-family: 'intro-rust';
    src: url('../fonts/intro-rust.otf') format('opentype');
}

@font-face {
    font-family: 'betm-rounded';
    src: url('../fonts/betm-rounded-regular.ttf') format('truetype');
}

@keyframes button-fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

body {
    z-index: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #287a5c;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

h1 {
    font-size: 2rem;
    font-family: 'intro-rust', Arial;
    text-align: center;
    color: #f8f3e6;
}

button {
    font-family: 'betm-rounded', Arial;
    font-size: 1.5rem;
    text-align: center;
    text-wrap: nowrap;
    color: #f8f3e6;
    background-color: #368266;
    opacity: 0;
    animation-name: button-fade-in;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-direction: normal;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}