body {
    z-index: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: aliceblue;
}

iframe {
    width: 100%;
    height: 100vh;
    border-width: 0;
}