:root {
    color-scheme: light dark;
    --bg-dark: rgb(34, 33, 36);
    --bg-light: rgb(255, 255, 255);
}

body {
    z-index: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

iframe {
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    border-width: 0;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--bg-dark);
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: var(--bg-light);
    }
}

@supports (height: 100dvh) {
    iframe {
        height: 100dvh;
    }
}
