.agenda {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    padding-left: 10vw;
    padding-right: 10vw;
}

.agenda .schedule {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
    overflow-x: hidden;
    max-height: 90vh;
    min-width: 50vw;
    max-width: 80vw;
}

.agenda .schedule .day {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.agenda .schedule .day p {
    text-align: center;
}

.agenda .schedule .event {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: calc(var(--spacing) / 3);
    gap: 20px;
}
