@import url('./TopBar.css');
@import url('./TitleBanner.css');
@import url('./Footer.css');

@font-face {
    font-family: 'lazy-dog';
    src: url('../fonts/lazy-dog.otf') format('opentype');
}

@font-face {
    font-family: 'intro-rust';
    src: url('../fonts/intro-rust.otf') format('opentype');
}

@font-face {
    font-family: 'etna';
    src: url('../fonts/etna.otf') format('opentype');
}

@font-face {
    font-family: 'betm-rounded';
    src: url('../fonts/betm-rounded-regular.ttf') format('truetype');
}

:root {
    overflow-x: hidden;
    overflow-y: scroll;
    --main-blue: #cae2d8;
    --main-green: #287a5c;
    --main-brown: #ca9459;
    --high-brown: #905b41;
    --high-dark-brown: #4f4d39;
    --high-beige: #f4e5c9;
    --back-beige: #e8e2d4;
    --spacing: 1rem;
    --radius: 20px;
    margin: 0;
    padding: 0;
}

body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background: var(--main-blue);
}

h1 {
    font-family: 'lazy-dog', Arial;
    color: var(--high-dark-brown);
    font-size: 15rem;
}

h2 {
    font-family: 'intro-rust', Arial;
    font-size: 3rem;
}

h3 {
    font-family: 'etna', Arial;
    font-size: 2rem;
}

p,
div {
    font-family: 'betm-rounded', Arial;
    color: #000000;
    font-size: 1.5rem;
}

.production.container {
    background: #00000000;
}

.production.background {
    background: var(--main-blue);
}