@import url("./images/Cababas.css");
@import url("./images/PlaceholderErrorPage.css");

:root {
    overflow: hidden;
    margin: 0;
    padding: 0;
    color-scheme: light dark;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}