@import url("./Cababas.css");
@import url("./PlaceholderError.css");
@import url("./TopBar.css");
@import url("./ProductionContainer.css");
@import url("./TitleBanner.css");

@font-face {
    font-family: 'lazy-dog';
    src: url('../fonts/lazy-dog.otf') format('opentype');
}

@font-face {
    font-family: 'intro-rust';
    src: url('../fonts/intro-rust.otf') format('opentype');
}

@font-face {
    font-family: 'etna';
    src: url('../fonts/etna.otf') format('opentype');
}

@font-face {
    font-family: 'betm-rounded';
    src: url('../fonts/betm-rounded-regular.ttf') format('truetype');
}

:root {
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    color-scheme: light dark;
    --main-blue: #cae2d8;
    --main-green: #287a5c;
    --main-brown: #ca9459;
    --high-brown: #905b41;
    --high-dark-brown: #4f4d39;
    --high-beige: #f4e5c9;
    --spacing: 1rem;
    --radius: 20px;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'lazy-dog', Arial;
    font-size: 10rem;
}

h2 {
    font-family: 'intro-rust', Arial;
}

h3 {
    font-family: 'etna', Arial;
}

p,
div {
    font-family: 'betm-rounded', Arial;
}