@font-face {
    font-family: 'lazy-dog';
    src: url('../fonts/lazy-dog.otf') format('opentype');
}

@font-face {
    font-family: 'intro-rust';
    src: url('../fonts/intro-rust.otf') format('opentype');
}

@font-face {
    font-family: 'etna';
    src: url('../fonts/etna.otf') format('opentype');
}

@font-face {
    font-family: 'betm-rounded';
    src: url('../fonts/betm-rounded-regular.ttf') format('truetype');
}

:root {
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: var(--back-beige);
}