@import url('./TopBar.css');
@import url('./TitleBanner.css');
@import url('./Intro.css');
@import url('./Mission.css');
@import url('./Agenda.css');
@import url('./People.css');
@import url('./Sponsors.css');
@import url('./FAQ.css');
@import url('./Footer.css');

@font-face {
    font-family: 'lazy-dog';
    src: url('../fonts/lazy-dog.otf') format('opentype');
}

@font-face {
    font-family: 'intro-rust';
    src: url('../fonts/intro-rust.otf') format('opentype');
}

@font-face {
    font-family: 'etna';
    src: url('../fonts/etna.otf') format('opentype');
}

@font-face {
    font-family: 'betm-rounded';
    src: url('../fonts/betm-rounded-regular.ttf') format('truetype');
}

:root {
    overflow-x: hidden;
    --main-blue: #cae2d8;
    --main-green: #287a5c;
    --main-brown: #ca9459;
    --high-brown: #905b41;
    --high-dark-brown: #4f4d39;
    --high-beige: #f4e5c9;
    --high-beige-2: #f8f3e6;
    --high-grey: #8f8f8f;
    --spacing: 1.5rem;
    --radius: 0.5rem;
    
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background: var(--main-blue);
    margin: 0;
}

h1 {
    font-family: 'lazy-dog', Arial;
    font-size: 15rem;
    color: var(--high-dark-brown);
}

h2 {
    font-family: 'intro-rust', Arial;
    font-size: 3rem;
    color: var(--high-brown);
}

h3 {
    font-family: 'etna', Arial;
    font-size: 2rem;
    color: var(--main-green);
}

p, div, button {
    font-family: 'betm-rounded', Arial;
    font-size: 1.5rem;
    color: var(--high-dark-brown);
}

a, u {
    color: var(--high-brown);
}

.production.container {
    background: #00000000;
}

.production.background {
    background: var(--main-blue);
}

.rounded {
    border-radius: var(--radius);
}

.plack {
    background: var(--high-beige-2);
}

.padded {
    padding: var(--spacing);
}

.invisible { 
    opacity: 0;
}

.transparent { 
    background: #00000000;
}

.darkener {
    background: #00000010;
}