.contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--spacing);
}

.contacts a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.1s ease-in-out;
}

.contacts a:hover {
    transform: scale(1.1);
}

.contacts a:active {
    transform: scale(0.9);
}