.guide {
    position: relative;
    background-color: #45341d;
    padding: var(--spacing);
    z-index: 30;
    --img-width: 10rem;
    padding: var(--spacing);
    padding-top: calc(2 * var(--grooves));
    padding-bottom: calc(2 * var(--grooves));
    gap: var(--spacing);
    clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        80% calc(100% - (var(--grooves) / 2)),
        70% calc(100% - (var(--grooves) / 3)),
        55% calc(100% - (var(--grooves) / 1)),
        35% calc(100% - (var(--grooves) / 1.75)),
        20% calc(100% - (var(--grooves) / 1.2)),
        0% calc(100% - (var(--grooves) / 4))
    );
    min-height: 200vh;
    margin-bottom: var(--ngrooves);
}

.guide a {
    border-width: 0;
    border-radius: 100vw;
    font-size: clamp(1rem, 3vw, 2rem);
    color: var(--high-beige-2);
    background-color: var(--jungle-green);
    padding: calc(var(--spacing) / 2);
    text-align: center;
    text-decoration: none;
    transition: transform 0.1s ease-in-out;
}

.guide a:hover {
    transform: scale(0.95);
}

.guide a:active {
    transform: scale(0.9);
}

.guide .background {
    position: absolute;
    left: 0;
    right: 0;
    top: -20vh;
    bottom: 0;
    z-index: 20;
    margin-bottom: var(--ngrooves);
}

.guide .background .layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.guide .background .left {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40%;
}

.guide .background .middle {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: calc(30% + var(--grooves) * 2);
    transform: translateX(-50%);
}

.guide .background .right {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 40%;
}

.guide .background .layer.l1 {
    z-index: 30;
}
.guide .background .layer.l2 {
    z-index: 28;
}
.guide .background .layer.l3 {
    z-index: 26;
}
.guide .background .layer.l4 {
    z-index: 24;
}

.guide .background .layer.l1 .left {
    background-color: var(--dark-sand);
    clip-path: polygon(
        0 0,
        calc(100% - (var(--grooves) / 1)) 0,
        calc(100% - (var(--grooves) / 2)) 15%,
        calc(100% - (var(--grooves) / 1.2)) 26%,
        calc(100% - (var(--grooves) / 3)) 34%,
        calc(100% - (var(--grooves) / 2.1)) 45%,
        calc(100% - (var(--grooves) / 4)) 58%,
        calc(100% - (var(--grooves) / 2)) 62%,
        calc(100% - (var(--grooves) / 2.5)) 75%,
        calc(100% - (var(--grooves) / 1.2)) 89%,
        calc(100% - (var(--grooves) / 2)) 93%,
        100% 100%,
        0 100%
    );
}
.guide .background .layer.l2 .left {
    background-color: var(--dark-sand-2);
    width: 40.5%;
    clip-path: polygon(
        0 0,
        calc(100% - (var(--grooves) / 3)) 0,
        calc(100% - (var(--grooves) / 1)) 10%,
        calc(100% - (var(--grooves) / 2)) 20%,
        calc(100% - (var(--grooves) / 1.3)) 32%,
        calc(100% - (var(--grooves) / 3.4)) 45%,
        calc(100% - (var(--grooves) / 1.2)) 52%,
        calc(100% - (var(--grooves) / 3)) 65%,
        calc(100% - (var(--grooves) / 2.1)) 78%,
        calc(100% - (var(--grooves) / 3.7)) 83%,
        calc(100% - (var(--grooves) / 1.2)) 96%,
        0 100%
    );
}
.guide .background .layer.l3 .left {
    background-color: var(--dark-sand-3);
    width: 41%;
    clip-path: polygon(
        0 0,
        calc(100% - (var(--grooves) / 1)) 0,
        calc(100% - (var(--grooves) / 3)) 5%,
        calc(100% - (var(--grooves) / 2)) 14%,
        calc(100% - (var(--grooves) / 4)) 27%,
        calc(100% - (var(--grooves) / 1)) 32%,
        calc(100% - (var(--grooves) / 3)) 43%,
        calc(100% - (var(--grooves) / 1.6)) 55%,
        calc(100% - (var(--grooves) / 3.2)) 63%,
        calc(100% - (var(--grooves) / 2)) 75%,
        calc(100% - (var(--grooves) / 4.3)) 87%,
        calc(100% - (var(--grooves) / 2.2)) 90%,
        100% 100%,
        0 100%
    );
}
.guide .background .layer.l4 .left {
    background-color: var(--dark-sand-4);
    width: 41.5%;
    clip-path: polygon(
        0 0,
        calc(100% - (var(--grooves) / 4)) 0,
        calc(100% - (var(--grooves) / 2)) 7%,
        calc(100% - (var(--grooves) / 3.5)) 13%,
        calc(100% - (var(--grooves) / 1)) 23%,
        calc(100% - (var(--grooves) / 4.2)) 35%,
        calc(100% - (var(--grooves) / 2.3)) 42%,
        calc(100% - (var(--grooves) / 4)) 51%,
        calc(100% - (var(--grooves) / 1.2)) 69%,
        calc(100% - (var(--grooves) / 3)) 72%,
        calc(100% - (var(--grooves) / 5.2)) 84%,
        calc(100% - (var(--grooves) / 2)) 92%,
        calc(100% - (var(--grooves) / 3.2)) 96%,
        100% 100%,
        0 100%
    );
}

.guide .background .layer.l1 .right {
    background-color: var(--dark-sand);
    clip-path: polygon(
        calc(var(--grooves) / 1) 0,
        calc(var(--grooves) / 3) 10%,
        calc(var(--grooves) / 1) 22%,
        calc(var(--grooves) / 3.2) 30%,
        calc(var(--grooves) / 1) 42%,
        calc(var(--grooves) / 3) 50%,
        calc(var(--grooves) / 1.2) 62%,
        calc(var(--grooves) / 3.5) 72%,
        calc(var(--grooves) / 1.1) 85%,
        calc(var(--grooves) / 3) 93%,
        0 100%,
        100% 100%,
        100% 0
    );
}
.guide .background .layer.l2 .right {
    background-color: var(--dark-sand-2);
    width: 40.5%;
    clip-path: polygon(
        0 0,
        calc(var(--grooves) / 1.1) 5%,
        calc(var(--grooves) / 2) 23%,
        calc(var(--grooves) / 1) 34%,
        calc(var(--grooves) / 3.2) 42%,
        calc(var(--grooves) / 1.5) 55%,
        calc(var(--grooves) / 3.5) 65%,
        calc(var(--grooves) / 1) 72%,
        calc(var(--grooves) / 3) 89%,
        calc(var(--grooves) / 1.1) 95%,
        0 100%,
        100% 100%,
        100% 0
    );
}
.guide .background .layer.l3 .right {
    background-color: var(--dark-sand-3);
    width: 41%;
    clip-path: polygon(
        0 0,
        calc(var(--grooves) / 2) 7%,
        calc(var(--grooves) / 4) 17%,
        calc(var(--grooves) / 1) 24%,
        calc(var(--grooves) / 3) 36%,
        calc(var(--grooves) / 1.25) 42%,
        calc(var(--grooves) / 2.8) 53%,
        calc(var(--grooves) / 1) 62%,
        calc(var(--grooves) / 3) 73%,
        calc(var(--grooves) / 1.5) 85%,
        calc(var(--grooves) / 3) 96%,
        0 100%,
        100% 100%,
        100% 0
    );
}
.guide .background .layer.l4 .right {
    background-color: var(--dark-sand-4);
    width: 41.5%;
    clip-path: polygon(
        0 0,
        calc(var(--grooves) / 4) 7%,
        calc(var(--grooves) / 1.5) 17%,
        calc(var(--grooves) / 3) 24%,
        calc(var(--grooves) / 1) 36%,
        calc(var(--grooves) / 4) 42%,
        calc(var(--grooves) / 1.5) 53%,
        calc(var(--grooves) / 3.5) 62%,
        calc(var(--grooves) / 1) 73%,
        calc(var(--grooves) / 4) 85%,
        calc(var(--grooves) / 2) 96%,
        0 100%,
        100% 100%,
        100% 0
    );
}

.guide .background .prop {
    position: absolute;
    width: 100%;
    height: calc(var(--grooves) * 2);
}

.guide .background .layer.l1 .prop {
    background-color: var(--dark-sand);
}
.guide .background .layer.l2 .prop {
    background-color: var(--dark-sand-2);
}
.guide .background .layer.l3 .prop {
    background-color: var(--dark-sand-3);
}
.guide .background .layer.l4 .prop {
    background-color: var(--dark-sand-4);
}

.guide .leaf {
    position: absolute;
    width: 15rem;
    box-sizing: content-box;
}

.guide .content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0;
    padding-top: 40vh;
    padding-bottom: 40vh;
    gap: 50vh;
    height: 100%;
    z-index: 25;
}

.guide .content .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: var(--spacing);
    width: 100%;
    gap: calc(var(--spacing) * 2);
    overflow-y: visible;
}

.guide .content .row.signup {
    flex-wrap: wrap-reverse;
    justify-content: center;
    gap: 0;
}

.guide .content .row img {
    max-width: clamp(15rem, 20vw, 25rem);
}

.guide .content .plack {
    background-color: var(--high-beige);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: calc(var(--spacing) * 2);
    gap: var(--spacing);
    border-radius: var(--radius);
}

.guide .content .plack h2 {
    font-size: clamp(2rem, 6vw, 5rem);
}

.guide .content .plack h3 {
    font-size: clamp(1.5rem, 4vw, 3rem);
}
.guide h2,
.guide h3 {
    text-align: center;
    color: var(--high-brown);
}
