.intro {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing);
    background-color: var(--main-brown);
    padding: var(--spacing);
    position: relative;
    z-index: 30;
}

.intro .container {
    max-width: 40rem;
    z-index: 20;
    margin-left: 40%;
    background-image: linear-gradient(
        to right,
        var(--high-beige-2) 0%,
        var(--high-beige) 100%
    );
}

@media (max-width: 800px) {
    .intro .container {
        max-width: 95vw;
        margin-left: 0%;
    }
}
