.intro {
    --dark-sand: #806039;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 30;
    background-color: aliceblue;
    margin-bottom: var(--ngrooves);
    overflow-y: hidden;
}

.intro .extension.top {
    position: relative;
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(
        to bottom,
        var(--main-brown) 25%,
        var(--dark-sand) 90%
    );
    z-index: 22;
}

.intro .ceiling {
    position: relative;
    width: 100%;
    height: calc(7.5vh + (var(--grooves) * 2));
    z-index: 20;
}

.intro .ceiling .layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
}

.intro .ceiling .layer.l1 {
    background-color: var(--dark-sand);
    clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        90% calc(100% - (var(--grooves) / 1)),
        80% calc(100% - (var(--grooves) / 1.5)),
        65% calc(100% - (var(--grooves) / 0.5)),
        45% calc(100% - (var(--grooves) / 0.7)),
        30% calc(100% - (var(--grooves) / 0.6)),
        15% calc(100% - (var(--grooves) / 1.8)),
        5% calc(100% - (var(--grooves) / 1.5)),
        0% calc(100% - (var(--grooves) / 4))
    );
    z-index: 30;
}

.intro .ceiling .layer.l2 {
    background-color: #6d512f;
    clip-path: polygon(
        0 0,
        100% 0,
        100% calc(100% - (var(--grooves) / 1.5)),
        85% calc(100% - (var(--grooves) / 1.1)),
        75% calc(100% - (var(--grooves) / 1.3)),
        70% calc(100% - (var(--grooves) / 0.8)),
        65% calc(100% - (var(--grooves) / 1)),
        51% calc(100% - (var(--grooves) / 0.75)),
        45% calc(100% - (var(--grooves) / 0.9)),
        30% calc(100% - (var(--grooves) / 1.2)),
        23% calc(100% - (var(--grooves) / 1)),
        10% calc(100% - (var(--grooves) / 1.4)),
        0% calc(100% - (var(--grooves) / 1.3))
    );
    z-index: 28;
}

.intro .ceiling .layer.l3 {
    background-color: #60482a;
    clip-path: polygon(
        0 0,
        100% 0,
        100% calc(100% - (var(--grooves) / 1.4)),
        95% calc(100% - (var(--grooves) / 1.1)),
        87% calc(100% - (var(--grooves) / 1.2)),
        76% calc(100% - (var(--grooves) / 0.95)),
        67% calc(100% - (var(--grooves) / 1)),
        56% calc(100% - (var(--grooves) / 0.8)),
        45% calc(100% - (var(--grooves) / 0.9)),
        38% calc(100% - (var(--grooves) / 0.85)),
        27% calc(100% - (var(--grooves) / 1)),
        18% calc(100% - (var(--grooves) / 0.95)),
        7% calc(100% - (var(--grooves) / 1.2)),
        0% calc(100% - (var(--grooves) / 1))
    );
    z-index: 26;
}

.intro .ceiling .layer.l4 {
    background-color: #564026;
    clip-path: polygon(
        0 0,
        100% 0,
        100% calc(100% - (var(--grooves) / 1.4)),
        97% calc(100% - (var(--grooves) / 1.1)),
        90% calc(100% - (var(--grooves) / 1.2)),
        86% calc(100% - (var(--grooves) / 0.95)),
        79% calc(100% - (var(--grooves) / 1)),
        71% calc(100% - (var(--grooves) / 0.8)),
        65% calc(100% - (var(--grooves) / 0.9)),
        58% calc(100% - (var(--grooves) / 0.85)),
        49% calc(100% - (var(--grooves) / 1)),
        40% calc(100% - (var(--grooves) / 0.95)),
        31% calc(100% - (var(--grooves) / 1.2)),
        25% calc(100% - (var(--grooves) / 1)),
        13% calc(100% - (var(--grooves) / 1.3)),
        5% calc(100% - (var(--grooves) / 1.2)),
        0% calc(100% - (var(--grooves) / 1.4))
    );
    z-index: 24;
}

.intro .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: calc(var(--grooves) * 2);
}

.intro .plack {
    max-width: 40rem;
    z-index: 20;
    background-image: linear-gradient(
        to right,
        var(--high-beige-2) 0%,
        var(--high-beige) 100%
    );
}

@media (max-width: 800px) {
    .intro .container {
        max-width: 95vw;
    }
}
