.intro {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--spacing);
    padding-right: 20%;
    padding-left: var(--spacing);
}

.intro .container {
    max-width: 40rem;
}