.jukebox {
    position: relative;
    background-color: var(--high-brown);
    padding: var(--spacing);
    z-index: 30;
    --img-width: 10rem;
    padding: var(--spacing);
    gap: var(--spacing);
    clip-path: polygon(
        0% var(--ngrooves),
        100% var(--ngrooves),
        100% calc((100% + var(--grooves))),
        80% calc((100% + var(--grooves)) - (var(--grooves) / 2)),
        70% calc((100% + var(--grooves)) - (var(--grooves) / 3)),
        55% calc((100% + var(--grooves)) - (var(--grooves) / 1)),
        35% calc((100% + var(--grooves)) - (var(--grooves) / 1.75)),
        20% calc((100% + var(--grooves)) - (var(--grooves) / 1.2)),
        0% calc((100% + var(--grooves)) - (var(--grooves) / 4))
    );
}

.jukebox .extension {
    position: absolute;
    background-color: inherit;
    width: 100%;
    height: var(--grooves);
}

.jukebox .extension.top {
    top: var(--ngrooves);
    left: 0;
}

.jukebox .extension.bottom {
    bottom: var(--ngrooves);
    left: 0;
}

.jukebox .promo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--spacing);
    gap: calc(var(--spacing)/2);
}

.jukebox .promo h2, .jukebox .promo h3 {
    text-align: center;
    color: var(--high-beige);
}

.jukebox .promo button {
    background-color: #ff8383;
    border-radius: var(--radius);
    border-width: 0;
    padding: var(--spacing);
    transition: transform 0.25s ease-in-out;
}

.jukebox .promo button:hover {
    transform: scale(1.1);
}