.merch {
    position: relative;
    background-color: #f4e1c9;
    z-index: 50;
    clip-path: polygon(
        0% calc(var(--grooves) / 3),
        20% calc(var(--grooves) / 1),
        45% calc(var(--grooves) / 2),
        60% calc(var(--grooves) / 1),
        75% calc(var(--grooves) / 4),
        90% calc(var(--grooves) / 2),
        100% 0%,
        100% 100%,
        80% calc(100% - (var(--grooves) / 2)),
        70% calc(100% - (var(--grooves) / 3)),
        55% calc(100% - (var(--grooves) / 1)),
        35% calc(100% - (var(--grooves) / 1.75)),
        20% calc(100% - (var(--grooves) / 1.2)),
        0% calc(100% - (var(--grooves) / 4))
    );
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--ngrooves);
    margin-bottom: var(--ngrooves);
}

.merch .background {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.merch .background .grid {
    --grid-color: #e1cfb9;
    aspect-ratio: 1/1;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 150%;
    background-size: 3rem 3rem;
    background-image: linear-gradient(
            to right,
            var(--grid-color) 1px,
            transparent 1px
        ),
        linear-gradient(to bottom, var(--grid-color) 1px, transparent 1px);
    transform: rotateZ(-5deg) translateX(-50%) translateY(-50%);
}

.merch .content {
    position: relative;
    padding: calc(var(--spacing) + var(--grooves));
    gap: calc(var(--spacing) * 2);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.merch .info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-around;
    padding: var(--spacing);
    background-color: var(--high-beige-2);
    filter: drop-shadow(-0.3rem 0.3rem 0.2rem rgba(0, 0, 0, 0.5));
}

.merch .info .jukebox {
    margin-top: var(--spacing);
}

.merch .info .jukebox i {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.2em;
}

.merch .info .jukebox button {
    background-color: #ff8383;
    border-radius: calc(var(--radius) / 2);
    border-width: 0;
    padding: calc(var(--spacing) / 3);
    padding-top: calc(var(--spacing) / 4);
    padding-bottom: calc(var(--spacing) / 4);
    transition: transform 0.1s ease-in-out;
    color: var(--high-beige-2);
    font-size: 0.5em;
}

.merch .info .jukebox button b {
    color: inherit;
    font-size: inherit;
}

.merch .info .jukebox button:hover {
    transform: scale(1.1);
}

.merch .info .jukebox button:active {
    transform: scale(0.9);
}

.merch .media {
    position: relative;
    min-width: 30rem;
    min-height: 30vh;
}

.merch .sticker {
    position: absolute;
    width: 12rem;
    filter: drop-shadow(-0.3rem 0.3rem 0.2rem rgba(0, 0, 0, 0.5));
}

.merch .background .sticker {
    width: 20rem;
    filter: blur(2px) drop-shadow(-1rem 1rem 0.8rem rgba(0, 0, 0, 0.5));
}
