.mission {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing);
    background-color: var(--main-brown);
    padding: var(--spacing);
    padding-bottom: calc(var(--grooves) * 2);
}

.mission .container {
    max-width: 40rem;
    z-index: 20;
    margin-right: 40%;
}

@media (max-width: 800px) {
    .mission {
        flex-direction: column;
    }

    .mission .container {
        max-width: 95vw;
        margin-right: 0%;
    }
}
