.mission {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--spacing);
    padding-left: 40%;
    padding-right: var(--spacing);
    background-color: var(--main-green);
    padding-bottom: var(--spacing);
}

.mission .container {
    max-width: 40rem;
}
