.people {
    position: relative;
    background-color: var(--high-beige-2);
    padding: var(--spacing);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 30;
    --img-width: 10rem;
    padding: var(--spacing);
    gap: var(--spacing);
    clip-path: polygon(
        0% var(--ngrooves),
        100% var(--ngrooves),
        100% calc((100% + var(--grooves))),
        80% calc((100% + var(--grooves)) - (var(--grooves) / 2)),
        70% calc((100% + var(--grooves)) - (var(--grooves) / 3)),
        55% calc((100% + var(--grooves)) - (var(--grooves) / 1)),
        35% calc((100% + var(--grooves)) - (var(--grooves) / 1.75)),
        20% calc((100% + var(--grooves)) - (var(--grooves) / 1.2)),
        0% calc((100% + var(--grooves)) - (var(--grooves) / 4))
    );
}

.people .extension {
    position: absolute;
    background-color: inherit;
    width: 100%;
    height: var(--grooves);
}

.people .extension.top {
    top: var(--ngrooves);
}

.people .extension.bottom {
    bottom: var(--ngrooves);
}

.people .container {
    padding: var(--spacing);
}

.people .people-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: var(--spacing);
}

.people .person {
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing);
    gap: calc(var(--spacing) / 2);
    background: var(--high-beige);
}

.people h2 {
    text-align: center;
}

.people .person h3 {
    color: var(--high-dark-brown);
    font-size: 1em;
}

.people .person p {
    color: var(--high-grey);
}

.people .person img {
    aspect-ratio: 1/1;
    max-width: var(--img-width);
}
