.placeholder-error-page {
    --bg-dark: rgb(34, 33, 36);
    --bg-light: rgb(255, 255, 255);
    --font-dark: rgb(154, 160, 166);
    --font-light: rgb(0, 0, 0);
    --button-dark: rgb(138, 180, 248);
    --button-light: rgb(26, 115, 232);
    position: relative;
    font-size: 100%;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    display: block;
    z-index: 0;
    width: 100vw;
    height: 100vh;
}

.placeholder-error-page #main-content {
    position: absolute;
    left: 45vw;
    top: 34vh;
    transform: translateX(-50%) translateY(-50%);
}

.placeholder-error-page img {
    height: 40px;
    aspect-ratio: 11/14;
}

.placeholder-error-page h1 {
    word-wrap: break-word;
    font-weight: 600;
    font-size: 1.4em;
}

.placeholder-error-page p {
    font-weight: normal;
    font-size: 0.9em;
}

.placeholder-error-page a {
    text-decoration: none;
}

.placeholder-error-page #error-code {
    font-size: 0.8em;
}

.placeholder-error-page button {
    border-width: 0;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 8px 16px;
    margin-top: 40px;
    cursor: pointer;
    user-select: none;
    font-size: 0.8em;
}

@media (prefers-color-scheme: dark) {
    .placeholder-error-page {
        background-color: var(--bg-dark);
    }

    .placeholder-error-page h1 {
        color: var(--font-dark);
    }

    .placeholder-error-page p {
        color: var(--font-dark);
    }

    .placeholder-error-page a {
        color: rgb(138, 180, 248);
    }


    .placeholder-error-page button {
        background-color: var(--button-dark);
        color: var(--bg-dark);
    }
}

@media (prefers-color-scheme: light) {
    .placeholder-error-page {
        background-color: var(--bg-light);
    }

    .placeholder-error-page h1 {
        color: var(--font-light);
    }

    .placeholder-error-page p {
        color: rgb(95, 99, 104);
    }

    .placeholder-error-page a {
        color: rgb(0, 98, 255);
    }


    .placeholder-error-page button {
        background-color: var(--button-light);
        color: var(--bg-light);
    }
}