.sponsors {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: var(--spacing);
    background-color: var(--fog);
    gap: var(--spacing);
    min-height: 100vh;
    z-index: 20;
}

.sponsors .ceiling {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10%;
    z-index: 18;
    transform: translateY(var(--ngrooves));
}

.sponsors .ceiling div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.sponsors .ceiling .layer-1 {
    
}

.sponsors .info {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: var(--spacing);
    transform: translateY(var(--grooves));
    z-index: 20;
}

.sponsors .info .contacts {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}

.sponsors .info .contacts a {
    transition: transform 0.2s ease-in-out;
    
}

.sponsors .info .contacts a:hover {
    transform: scale(1.1);
}

.sponsors .tiers {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--spacing);
    background-color: #00000038;
    border-radius: var(--radius);
    border-width: 1px;
    border-color: #ffffff2b;
    border-style: solid;
    padding-left: var(--spacing);
    padding-right: var(--spacing);
    transform: translateY(var(--grooves));
    z-index: 20;
}

.sponsors .tiers h3 {
    color: var(--high-beige-2);
}

.sponsors .tiers .tier {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: var(--spacing);
    width: 100%;
}

.sponsors .tiers .tier .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--spacing);
}

.sponsors img {
    max-width: 10rem;
    margin-bottom: var(--spacing);
}

@media (max-width: 1000px) {
    .sponsors {
        flex-direction: column;
        align-items: center;
    }
}
