.sponsors {
    --fog: #212807;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: var(--spacing);
    background-color: var(--fog);
}

.sponsors .info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    min-width: calc(30rem - (var(--spacing) * 2));
    width: calc(25% - (var(--spacing) * 2));
    gap: var(--spacing);
}

.sponsors .tiers {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: calc(75% - (var(--spacing) * 2));
    gap: var(--spacing);
}

.sponsors .tiers .tier {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: var(--spacing);
    width: 100%;
}

.sponsors .tiers .tier .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--spacing);
}

.sponsors img {
    max-width: 10rem;
    margin-bottom: var(--spacing);
}