.title-banner {
    width: 100vw;
}

.title-banner #title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: var(--spacing);
    width: 100vw;
    height: 100vh;
    transform: translateY(-1.5em);
}