.title-banner {
    width: 100vw;
}

.title-banner #title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}