.title-banner {
    width: 100%;
    background-color: var(--high-beige-2);
}

.title-banner #title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    width: 100%;
    height: 100vh;
}

.title-banner #title h1 {
    font-size: 15vw;
    z-index: 1;
    padding-bottom: 0.25em;
}
