@keyframes text-in-1 {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(30%);
    }
}

.title-banner .dune {
    position: absolute;
    border-radius: 50%;
    background-color: var(--main-brown);
    transform: translateY(75%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
    overflow: hidden;
    bottom: 0;
}

.title-banner {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 21;
}

.title-banner .cababas {
    --width: 10rem;
    position: absolute;
    z-index: 100;
    aspect-ratio: 1/1;
    width: var(--width);
    right: calc(var(--width) / -4);
    top: calc(var(--width) / -4);
    transform: scaleX(-1) rotateZ(100deg) translateY(100%) translateX(100%);
    transition: transform 0.25s ease-in-out;
}

.title-banner .cababas.visible {
    transform: scaleX(-1) rotateZ(200deg);
    transition: transform 3s ease-in-out;
}

.title-banner .view {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, var(--sky), var(--main-blue));
    z-index: 21;
}

.title-banner .view .title {
    position: absolute;
    bottom: 0%;
    left: 0%;
    right: 0%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    z-index: 10;
    pointer-events: none;
}

.title-banner .view .scroll-button {
    position: absolute;
    bottom: 1vh;
    left: 50%;
    aspect-ratio: 1/1;
    border-width: 0;
    background: none;
    transform: translateX(-50%) translateY(100%);
    transition: color 0.1s ease-in-out, opacity 0.5s ease-in-out,
        transform 0.5s ease-in-out;
    font-size: 1rem;
    color: var(--high-beige);
    opacity: 0;
    z-index: 40;
}

.title-banner .scroll-button.visible {
    opacity: 1;
    transform: translateX(-50%);
}

.title-banner .scroll-button.visible:hover {
    color: var(--high-beige-2);
}

.title-banner .scroll-button.visible:active {
    color: var(--high-dark-brown);
}

.title-banner .view .buttons {
    position: absolute;
    left: 1%;
    bottom: 1%;
    opacity: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1vw;
    transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
    transform: translateY(100%);
    opacity: 0;
    z-index: 30;
}

.title-banner .buttons.visible {
    opacity: 1;
    transform: translateY(0);
}

.title-banner .buttons button {
    border-width: 0;
    border-radius: 100vw;
    font-size: clamp(1rem, 3vw, 2rem);
    color: var(--high-beige-2);
    background-color: var(--jungle-green);
    padding: calc(var(--spacing) / 2);
    padding-left: var(--spacing);
    padding-right: var(--spacing);
    text-align: center;
    transition: transform 0.1s ease-in-out;
}

.title-banner .view .buttons .sponsor {
    background-color: var(--high-beige-2);
    color: var(--high-dark-brown);
}

.title-banner .view .buttons button:hover {
    transform: scale(0.95);
}

.title-banner .view .buttons button:active {
    transform: scale(0.9);
}

.title-banner .view .title h1 {
    font-size: 15vw;
    padding-bottom: 0.25em;
}

.title-banner .view .dunes {
    position: absolute;
    aspect-ratio: 10/6;
    min-height: 100vh;
    min-width: 100%;
    z-index: 20;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    pointer-events: none;
}

.title-banner .view .dunes div {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.title-banner .view .dunes .layer-1 {
    z-index: 20;
    pointer-events: none;
}

.title-banner .view .dunes .layer-1 .dune {
    height: 50%;
}

.title-banner .view .dunes .layer-2 {
    z-index: 19;
    pointer-events: none;
}

.title-banner .view .dunes .layer-2 .dune {
    height: 75%;
    background-color: rgb(235, 184, 118);
}

.title-banner .view .dunes .layer-3 {
    z-index: 18;
    pointer-events: none;
}

.title-banner .view .dunes .layer-3 .dune {
    height: 80%;
    background-color: rgb(219, 174, 116);
}

.title-banner .view .dunes .layer-4 {
    z-index: 17;
    pointer-events: none;
}

.title-banner .view .dunes .layer-4 .dune {
    height: 100%;
    background-color: rgb(231, 191, 139);
}

.title-banner .view .tree {
    aspect-ratio: 1/1;
    position: absolute;
    pointer-events: none;
}

.title-banner .view .grass {
    aspect-ratio: 1/1;
    position: absolute;
    pointer-events: none;
}

.title-banner .view .tree.reverse,
.title-banner .view .grass.reverse {
    transform: scaleX(-100%);
}

.title-banner .view .sign {
    position: absolute;
    bottom: 5%;
    right: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 10%, 60% 0%, 100% 0, 100% 40%, 60% 90%, 5% 100%);
    transform: scale(0.75) rotateZ(25deg) translateX(50%);
    background-image: linear-gradient(
        155deg,
        var(--high-beige) 0%,
        var(--high-beige) 55%,
        var(--main-brown) 100%
    );
    z-index: 22;
    pointer-events: none;
}

.title-banner .view .sign h2 {
    color: #55492d;
    opacity: 0.7;
    white-space: nowrap;
}

.title-banner .view .sign .material-icons {
    transform: translateX(-50%) scaleX(1.25) rotateZ(10deg);
}

.title-banner .extension.bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    background-color: var(--main-brown);
}

@media (max-width: 800px) {
    .title-banner .sign {
        transform: scale(0.5) rotateZ(25deg) translateX(50%);
        right: 1%;
        bottom: 2%;
    }
}

@supports (height: 100dvh) {
    .title-banner .view {
        height: 100dvh;
    }

    .title-banner .extension.bottom {
        height: calc(100vh - 100dvh);
    }
}
