@keyframes text-in-1 {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(30%);
    }
}

.title-banner {
    width: 100%;
    background-image: linear-gradient(to bottom, var(--sky), var(--main-blue));
}

.title-banner #title {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    width: 100%;
    height: 100vh;
    z-index: 10;
}

.title-banner #title h1 {
    font-size: 15vw;
    padding-bottom: 0.25em;
}

.title-banner .dunes {
    position: absolute;
    width: 100%;
    height: 140vh;
    z-index: 20;
    transform: translateY(-100%);
}

.title-banner .dunes div {
    position: absolute;
    width: 100%;
    height: 100%;
}

.title-banner .dunes .layer-1 {
    top: 0px;
    z-index: 20;
}

.title-banner .dunes .layer-1 .dune {
    height: 50%;
}

.title-banner .dunes .layer-2 {
    z-index: 19;
    top: 0px;
}

.title-banner .dunes .layer-2 .dune {
    height: 75%;
    background-color: rgb(235, 184, 118);
}

.title-banner .dunes .layer-3 {
    z-index: 18;
    top: 0x;
}

.title-banner .dunes .layer-3 .dune {
    height: 80%;
    background-color: rgb(219, 174, 116);
}

.title-banner .dunes .layer-4 {
    z-index: 17;
    top: 0x;
}

.title-banner .dunes .layer-4 .dune {
    height: 100%;
    background-color: rgb(231, 191, 139);
}

.title-banner .sun {
    --border-color: #f6bd6e;
    position: absolute;
    aspect-ratio: 1/1;
    border-radius: 50%;
    width: 4cm;
    left: 10%;
    top: 10%;
    background-color: #ffb752;
    border-width: 2mm;
    border-color: var(--border-color);
    border-style: solid;
    box-shadow: 0 0 3mm 1mm var(--border-color);
    opacity: 0.90;
    z-index: 8;
}