.top-bar {
    display: flex;
    position: fixed;
    z-index: 9999;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing);
    padding: calc(var(--spacing) / 2);
    top: 0;
    left: 0;
    right: 0;
    transition: opacity 0.25s ease-in-out;
    opacity: 0;
    pointer-events: none;
    background-image: linear-gradient(to bottom, #000000d3, #00000053);
}

.top-bar .section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.top-bar .section.left {
    justify-content: left;
}

.top-bar .section.middle {
    justify-content: center;
}

.top-bar .section.right {
    justify-content: right;
}

.top-bar.visible {
    opacity: 1;
}

.top-bar a,
.top-bar button {
    pointer-events: all;
    font-size: 1em;
    padding: calc(var(--spacing) / 2);
    padding-left: var(--spacing);
    padding-right: var(--spacing);
    border-radius: 100vw;
    border-width: 0;
    transition: transform 0.1s ease-in-out;
    /* background-color: var(--high-beige-2); */
    background-color: #00000000;
    color: var(--high-beige-2);
    z-index: 20;
}

.top-bar .signup {
    background-color: var(--jungle-green);
    color: var(--high-beige-2);
}

.top-bar button:hover {
    transform: scale(1.1);
}

.top-bar button:active {
    transform: scale(0.9);
}