.top-bar {
    display: flex;
    position: fixed;
    width: 100vw;
    background: #ffffff00;
    z-index: 9999;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: var(--spacing);
    padding: calc(var(--spacing) * 2);
    transition: opacity 0.25s ease-in-out;
    top: 0;
    left: 0;
}

.top-bar a,.top-bar button {
    font-size: 2em;
}