.top-bar {
    display: flex;
    position: fixed;
    z-index: 9999;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: var(--spacing);
    padding: calc(var(--spacing) / 2);
    top: 0;
    left: 0;
    right: 0;
    transition: opacity 0.25s ease-in-out;
    opacity: 0;
    pointer-events: none;
    background-image: linear-gradient(to bottom, #000000c4, #00000000);
}

.top-bar.visible {
    opacity: 1;
}

.top-bar .blur {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: linear-gradient(to bottom, #000000, #00000000);
    z-index: 10;
}

.top-bar a,
.top-bar button {
    pointer-events: all;
    font-size: 1em;
    padding: calc(var(--spacing) / 2);
    padding-left: var(--spacing);
    padding-right: var(--spacing);
    border-radius: 100vw;
    border-width: 0;
    transition: transform 0.1s ease-in-out;
    background-color: var(--high-beige-2);
    color: var(--high-dark-brown);
    z-index: 20;
}

.top-bar .signup {
    background-color: var(--jungle-green);
    color: var(--high-beige-2);
}

.top-bar button:hover {
    transform: scale(1.1);
}

.top-bar button:active {
    transform: scale(0.9);
}
