:root {
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: black;
    z-index: 0;
}

#content {
    z-index: 10;
}