body {
    background-color: black;
    z-index: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

iframe {
    position: absolute;
    left: 0;
    top: 0;
    border-width: 0;
    width: 100%;
    height: 100%;
}