:root {
    overflow-x: none;
    overflow-y: none;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: black;
    z-index: 0;
    margin: 0;
    padding: 0;
}

#content {
    width: 100%;
    height: 100vh;
    z-index: 10;
    margin: 0;
    padding: 0;
}