body {
    background-color: black;
    z-index: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

embed {
    position: absolute;
    left: 0;
    top: 0;
}