@import url('./TopBar.css');
@import url('./TitleBanner.css');

:root {
    overflow-y: scroll;
    --main-blue: #cae2d8;
    --main-green: #287a5c;
    --main-brown: #ca9459;
    --high-brown: #905b41;
    --high-dark-brown: #4f4d39;
    --high-beige: #f4e5c9;
    --back-beige: #e8e2d4;
    --spacing: 1rem;
    --radius: 20px;
}

h1 {
    font-family: 'lazy-dog', Arial;
    font-size: 10rem;
}

h2 {
    font-family: 'intro-rust', Arial;
}

h3 {
    font-family: 'etna', Arial;
}

p,
div {
    font-family: 'betm-rounded', Arial;
    color: #000000;
}

.production.container {
    background: #00000000;
}

.production.background {
    background: var(--main-blue);
}